In [1]:
import numpy as np 
import pandas as pd 

dt = pd.read_csv("2023_Yellow_Taxi_Trip_Data.csv", nrows = 100)
dt.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,01/01/2023 12:32:10 AM,01/01/2023 12:40:36 AM,1,0.97,1,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1,14.30,2.5,0.00
1,2,01/01/2023 12:55:08 AM,01/01/2023 01:01:27 AM,1,1.10,1,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1,16.90,2.5,0.00
2,2,01/01/2023 12:25:04 AM,01/01/2023 12:37:49 AM,1,2.51,1,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1,34.90,2.5,0.00
3,1,01/01/2023 12:03:48 AM,01/01/2023 12:13:25 AM,0,1.90,1,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1,20.85,0.0,1.25
4,2,01/01/2023 12:10:29 AM,01/01/2023 12:21:19 AM,1,1.43,1,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1,19.68,2.5,0.00
5,2,01/01/2023 12:50:34 AM,01/01/2023 01:02:52 AM,1,1.84,1,N,161,137,1,12.8,1.00,0.5,10.00,0.0,1,27.80,2.5,0.00
6,2,01/01/2023 12:09:22 AM,01/01/2023 12:19:49 AM,1,1.66,1,N,239,143,1,12.1,1.00,0.5,3.42,0.0,1,20.52,2.5,0.00
7,2,01/01/2023 12:27:12 AM,01/01/2023 12:49:56 AM,1,11.70,1,N,142,200,1,45.7,1.00,0.5,10.74,3.0,1,64.44,2.5,0.00
8,2,01/01/2023 12:21:44 AM,01/01/2023 12:36:40 AM,1,2.95,1,N,164,236,1,17.7,1.00,0.5,5.68,0.0,1,28.38,2.5,0.00
9,2,01/01/2023 12:39:42 AM,01/01/2023 12:50:36 AM,1,3.01,1,N,141,107,2,14.9,1.00,0.5,0.00,0.0,1,19.90,2.5,0.00

In [3]:
dt.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [8]:
dt.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge      int64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
dtype: object

In [9]:
dt.describe

<bound method NDFrame.describe of     VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count  \
0          2  01/01/2023 12:32:10 AM  01/01/2023 12:40:36 AM                1
1          2  01/01/2023 12:55:08 AM  01/01/2023 01:01:27 AM                1
2          2  01/01/2023 12:25:04 AM  01/01/2023 12:37:49 AM                1
3          1  01/01/2023 12:03:48 AM  01/01/2023 12:13:25 AM                0
4          2  01/01/2023 12:10:29 AM  01/01/2023 12:21:19 AM                1
..       ...                     ...                     ...              ...
95         1  01/01/2023 12:36:16 AM  01/01/2023 12:45:55 AM                1
96         2  01/01/2023 12:20:38 AM  01/01/2023 12:21:26 AM                1
97         2  01/01/2023 12:09:16 AM  01/01/2023 12:30:17 AM                1
98         2  01/01/2023 12:46:56 AM  01/01/2023 12:59:16 AM                1
99         2  01/01/2023 12:10:50 AM  01/01/2023 12:20:19 AM                1

    trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            0.97           1                  N           161           141
1            1.10           1                  N            43           237
2            2.51           1                  N            48           238
3            1.90           1                  N           138             7
4            1.43           1                  N           107            79
..            ...         ...                ...           ...           ...
95           1.60           1                  N           262           229
96           0.08           1                  N            75            75
97           6.22           1                  N           138            95
98           4.56           1                  N           132           218
99           1.41           1                  N           264           186

    payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              2          9.3   1.00      0.5        0.00           0.0
1              1          7.9   1.00      0.5        4.00           0.0
2              1         14.9   1.00      0.5       15.00           0.0
3              1         12.1   7.25      0.5        0.00           0.0
4              1         11.4   1.00      0.5        3.28           0.0
..           ...          ...    ...      ...         ...           ...
95             1         11.4   3.50      0.5        3.00           0.0
96             2          3.0   1.00      0.5        0.00           0.0
97             2         31.0   6.00      0.5        0.00           0.0
98             1         20.5   1.00      0.5        5.75           0.0
99             1         10.7   1.00      0.5        3.92           0.0

    improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                       1         14.30                   2.5         0.00
1                       1         16.90                   2.5         0.00
2                       1         34.90                   2.5         0.00
3                       1         20.85                   0.0         1.25
4                       1         19.68                   2.5         0.00
..                    ...           ...                   ...          ...
95                      1         19.40                   2.5         0.00
96                      1          5.50                   0.0         0.00
97                      1         39.75                   0.0         1.25
98                      1         30.00                   0.0         1.25
99                      1         19.62                   2.5         0.00

[100 rows x 19 columns]>

In [2]:
import numpy as np 
import pandas as pd 

dt = pd.read_csv("NYC_Taxi_Zones.csv", nrows = 100)
dt.head(10)

,Shape Geometry,Shape Length,Shape Area,Zone,Location ID,Borough
0,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.116357,0.000782,Newark Airport,1,EWR
1,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.433470,0.004866,Jamaica Bay,2,Queens
2,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.043567,0.000112,Alphabet City,4,Manhattan
4,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.092146,0.000498,Arden Heights,5,Staten Island
5,MULTIPOLYGON (((-74.06367318899999 40.60219816...,0.150491,0.000606,Arrochar/Fort Wadsworth,6,Staten Island
6,MULTIPOLYGON (((-73.90413637799996 40.76752031...,0.107417,0.000390,Astoria,7,Queens
7,MULTIPOLYGON (((-73.92334041500001 40.77512891...,0.027591,0.000027,Astoria Park,8,Queens
8,MULTIPOLYGON (((-73.78502434699996 40.76103651...,0.099784,0.000338,Auburndale,9,Queens
9,MULTIPOLYGON (((-73.78326624999988 40.68999429...,0.099839,0.000436,Baisley Park,10,Queens